*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul,a {
    list-style: none;
    text-decoration-line: none;
}
 
main{
    display: flex;
    height: calc(100vh - 90px);
   
}
.main-page{
    padding-top: 90px;
    width: 100%;
    background-color: #141922;
    overflow-y: scroll;
}

/*side bar*/

.nav-side-bar li,.top-sidebar,.playlist-bar,.login,.logo-img{
    padding-left: 10px;
    width: 100%;
}

.nav-side-bar{
    width: calc(100% / 5);
    height: 100%;
    padding: 10px;
    line-height: 2.5;
    font-size: small;  
    background-color: black;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.playlist-list {
     min-height: 30px;
    flex-grow: 1;
    overflow: auto;
}

.nav-side-bar li,.nav-side-bar h4{
     font-weight: lighter;
    opacity: 60%;
    cursor: pointer;
}
    .nav-side-bar h4:hover{
        opacity: 100%;
    }
    .nav-side-bar li:hover {
        opacity: 100%;
        padding-left: 7px;
        border-left: 3px solid #adff2f;
    }
    .main-nav-list li *{
        display: inline-block;
    }

.icon-img{
    height: 25px;
     width: 25px;
    margin-right: 5px;
 }

.logo-img{
     height: 60px;
     width: 150px;
    cursor: pointer;
}

.fa.fa-plus{
    margin-right: 10px;
    font-size: 20px;
    color:black;
    background-color: white;
    padding:8px 8px;
}

.fa.fa-plus{
    margin-right: 10px;
    font-size: 20px;
    color:black;
    background-color: white;
    padding:8px 8px;
}
.fa.fa-user-o{
    margin-top: 15px;
    margin-right: 5px;
    font-size: 20px;
    border: 0;
    color:white;
    background-color: gray;
    border-radius: 50%;
    padding: 5px;
}


 /*bottom player*/         

.bottom-play-bar{
    right: 0;
    left:0;
    bottom: 0;
    height: 90px;
    padding: 10px;
    background-color: #282828;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-play-bar .fa{
    cursor: pointer;
 }

    .now-playing {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        width: calc((100% / 8) * 2);
    }
        .track-name{
            width: calc(100% / 3);
            align-self: center;
        }
        .track-name *{   
        padding-left: 15px;
        display: block;
        cursor: pointer;
        }
        .track-name *:nth-child(2){
        font-weight: lighter;
        opacity: 60%;    
        }
        .track-name *:nth-child(2):hover{
            opacity: 100%;
            text-decoration: underline;
        }
        .collection{
        width: calc(100% / 3);   
        align-self: center; 
        }
        .collection .mini-icon{
            opacity: 60%;
        }
        .collection .mini-icon:hover{
            opacity: 100%;
        }
        .mini-icon{
            margin-left: 10px;
        }
        .mini-cover-album{
            width: calc(100% / 3);
            margin-right: 0px;
            width: 50px;
        }
        .mini-cover-album img{
            width: 100%
        }

    .player{
        width: calc((100% / 8) * 3);
    }

        .player-bar{  
            width: 40%;
            min-width: 180px;
            height: 35px;;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center
        }
        .player-bar .fa.fa-play-circle-o{
            font-size: 30px;
        }
        .player-bar .fa.fa-play-circle-o:hover{
            font-size: 35px;
            margin-left: -2px;
            margin-right: -2px;
        }

        .player-display{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: small;
        }
        .bar{
            height: 4px;
            width: 100%;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 3px;
            background-color: #5a5a5a;
            cursor: pointer;
        }
            .progress-bar {
                height: 100%;
                width: 30%;
                border-radius: 3px 0px 0px 3px;
                background-color: #c1c1c1;  
            }
            .progress-bar:hover {
                background-color: #adff2f;
            }
            .progress-bar:hover::after {
                content:' \2022' ;
                color: #c1c1c1;
                font-size: 50px;
                position: relative;
                bottom: 27px;
                left: 90%;
            }

    .volume {
        width: calc((100% / 8) * 2);
        display: flex;
        justify-content: flex-end;
        align-items: center
    }
 
        .vol-icons,.volume-bar{
            display: inline-block;
            width: 50%;
        }

        .vol-icons {
        text-align: right;
        }

        .vol{
            width: 60%;
            margin-right: 10px;
            background-color: #5a5a5a;
        }


 /*--------main-page*/
/*top nav*/

.top-bar{
    position: fixed;
    top:0px;
    right: 15px;
    z-index: 1;  
    text-align: right;
    height: 75px;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    background-color:rgba(0, 0, 0, 0.6);
 }
 
.top-bar button {
    margin-right: 20px;
    font-size: small;
    font-weight: bold;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 30px;
    border: 1px solid white ;   
 }
    .top-bar button:hover {
        margin-right: 10px;
        font-size: 15px;
        padding: 7px 35px;
        cursor: pointer;
    }


 /*center page*/

 .nav-music-sections{
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    line-height: 50px;
    }

 li .fake-un-line { 
    text-align: center;
    padding: 0px;
    height: 20px;
    width: 40%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 2px solid #adff2f;
    }

ul.nav-music-sections li{
    opacity: 60%;
    display: inline;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: small;
}
    ul.nav-music-sections li:hover{
        opacity: 100%;
    }
  
.section-title *:nth-child(2){
    opacity: 60%;
    font-weight: lighter;
    margin-top: 10px;
}

.center-page,.section-title{
    padding-left: 10px;
    padding-right: 30px;
}

.main-titles-container{  
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 20px 10px;
    max-width: calc((100% / 6) - 20px);
}
        .card p{
            margin-top: 10px;
            opacity: 70%;
        }
        .round{
            border-radius: 50%;
        }

        .cover-img{
            max-width:100%;
            min-height: auto;
        }
        .cover-img img{
            width:100%;
            height: auto;
        }
        .info-track{
            margin: 10px 5px;
            font-size: small;
            text-align: center;
        }

.overlay {
    text-align: center;
    opacity: 0%;
    width: 100%;
    height: calc(100% - 4px);
    position: absolute;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.7);
    cursor: pointer;
    z-index: 1;
}
        .overlay:hover {
            opacity: 100%;
        }
        .overlay .fa-play-circle-o{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-size: 70px;
        }

       

 @media screen and (max-width: 992px) and (min-width: 914px) {

    .logo-img{
        width: 100%;
    }
    .nav-music-sections{
        line-height: 100px;
    }
    .card{
    max-width: calc((100% / 4) - 20px);
    }
    .overlay{
        display: none;
    }
}
        
@media screen and (max-width: 913px){

  /*nav bar*/

    .nav-side-bar{
    width: calc(100% / 11);
    min-width: 55px;
    text-align: center;
    }
            
    .hide-small,li .hide-small{
    display: none;
    }

    .nav-side-bar li,.top-sidebar,.playlist-bar,.login,.logo-img{
        padding-left: 0px;
        width: 100%;
    }
    .fa.fa-user-o{
        margin-right: 0px;
    } 

    .logo-img img{
    display: none;
    }

    .logo-img{
    margin-bottom: 10px;
    padding: 0;
    height: 40px;
    width: 100%;
    background-image: url("img/logo-small.svg");
    background-repeat: no-repeat;
    background-size: contain;
    }

  /*player bar*/

    .now-playing,.player,.volume{
    width: calc(100% / 3);
    min-width: 177px;
    }
    .collection{
        padding-left: 20px;
    }
    
    /*center*/

    .card{
        max-width: calc((100% / 2) - 20px);
    }
}

