*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


div{
    border: 1px solid pink;
}


ul,a {list-style: none;
      text-decoration-line: none;
    }
 
main{
    display: flex;
    height: calc(100vh - 70px);
   
}
.main-page{
    padding-top: 70px;
    width: 100%;
    background-color: #141922;
    overflow-y: scroll;
}

/*side bar*/

.nav-side-bar li,.top-sidebar,.bottom-sidebar,.playlist-bar,.login,.logo-img{
    padding-left: 10px;
}

.nav-side-bar{
    padding: 10px;
    line-height: 2.5;
    font-size: small;
    width: 250px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.nav-side-bar li,.nav-side-bar h4{
    font-weight: lighter;
    opacity: 60%;
}
.nav-side-bar h4:hover{
    opacity: 100%;
}
 .nav-side-bar li:hover {
    opacity: 100%;
    padding-left: 7px;
    border-left: 3px solid #adff2f;
 }
 .main-nav-list li *{
     display: inline-block;

 }


.icon-img{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
.logo-img{
    height: 60px;
    width: 150px;
}

.fa.fa-plus{
    margin-right: 10px;
    font-size: 20px;
    color:black;
    background-color: white;
    padding:8px 8px;
}
.playlist{
    flex-grow: 1;
}


.fa.fa-plus{
    margin-right: 10px;
    font-size: 20px;
    color:black;
    background-color: white;
    padding:8px 8px;
}
.fa.fa-user-o{
    margin: 10px 5px 0px 0px;
    font-size: 20px;
    border: 0;
    color:white;
    background-color: gray;
    border-radius: 50%;
    padding: 5px;
}

.collect-icon{
    margin-left: 10px;
    text-align: right;
}

/*top bar*/


.top-bar{
    position: fixed;
    top:0px;
    z-index: 2;
     text-align: right;
     height: 70px;
     width: calc(100% - 240px);
     padding: 10px;
     background-color:rgba(0, 0, 0, 0.3);
 }
 
.top-bar button {
     font-size: small;
     font-weight: bold;
     vertical-align: middle;
     line-height: 35px;
     background-color: transparent;
     border-radius: 20px;
     padding: 0px 25px;
     border: 1px solid white ;   
 }


 /*bottom player*/

.bottom-play-bar{
     
    right: 0;
    left:0;
    bottom: 0;
     height: 70px;
     padding: 10px;
   
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.now-playing {
   min-width: 160px;
}
    
.now-playing *{
vertical-align: middle;
display: inline-block;
}

.track-name *{
    display: block;
}
.mini-cover-album{
    margin-right: 10px;
    width: 50px;
}
.mini-cover-album img{
    width: 100%
}

.player-bar{  
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.fa.fa-play-circle-o{
font-size: 30px;
}
.player-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    font-size: small;
}
.bar{
    height: 4px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: #5a5a5a
}

.vol{
    width: 80px;
    margin-right: 10px;
    background-color: #c1c1c1
}
.volume-bar {
    width: 200px;
    display: flex;
    align-items: center
 }

 /*center page*/

 .nav-music-sections{
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
    }
ul.nav-music-sections li{
    opacity: 60%;
    display: inline;
     margin-left: 20px;
    text-transform: uppercase;
    font-size: small;
}
ul.nav-music-sections li:hover {
    opacity: 100%;
    border-bottom: 2px solid #adff2f;
    padding: 0; 
 }

 .main-title-container{
 display: flex;
 flex-wrap: wrap;
 }
 .card{
     margin: 10px;
     max-width: calc(100% / 7);
 }
 .cover-img{
     max-width:100%;
     min-height: auto;
 }
 .cover-img img{
    width:100%;
    height: auto;
}
.info-track{
    margin: 10px 0;
    font-size: small;
    text-align: center;
}